# Question 8
#8. Scrape the details of Highest selling novels.

In [4]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [5]:
driver=webdriver.Chrome(r"C:\Users\Rubia Banu\Desktop\chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/')

In [6]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [7]:
for i in range(1):
    for j in driver.find_elements_by_xpath("//tbody/tr/td[2]"):
        Book_name.append(j.text)
    for k in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
        Author_name.append(k.text)
    for l in driver.find_elements_by_xpath("//tbody/tr/td[4]"):
        Volumes_sold.append(l.text)
    for m in driver.find_elements_by_xpath("//tbody/tr/td[5]"):
        Publisher.append(m.text)
    for n in driver.find_elements_by_xpath("//tbody/tr/td[6]"):
        Genre.append(n.text)

In [8]:
Novel_details=pd.DataFrame({"Book_name":Book_name[0:50],
                              "Author_name":Author_name[0:50],
                              "Volumes_sold":Volumes_sold[0:50],
                               "Publisher":Publisher[0:50],
                               "Genre":Genre[0:50]})

In [9]:
Novel_details

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"
17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"
21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"
23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Picture Books
25,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
26,Jamie's 30-Minute Meals,"Oliver, Jamie","1,743,266",Penguin,Food & Drink: General
27,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
28,One Day,"Nicholls, David","1,616,068",Hodder & Stoughton,General & Literary Fiction
29,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
30,"Girl Who Kicked the Hornets' Nest,The:Millenni...","Larsson, Stieg","1,555,135",Quercus,"Crime, Thriller & Adventure"
31,"Time Traveler's Wife,The","Niffenegger, Audrey","1,546,886",Random House,General & Literary Fiction
32,Atonement,"McEwan, Ian","1,539,428",Random House,General & Literary Fiction
33,Bridget Jones's Diary:A Novel,"Fielding, Helen","1,508,205",Pan Macmillan,General & Literary Fiction
34,"World According to Clarkson,The","Clarkson, Jeremy","1,489,403",Penguin,Humour: Collections & General
35,Captain Corelli's Mandolin,"Bernieres, Louis de","1,352,318",Random House,General & Literary Fiction
36,"Sound of Laughter,The","Kay, Peter","1,310,207",Random House,Autobiography: General
37,Life of Pi,"Martel, Yann","1,310,176",Canongate,General & Literary Fiction
38,Billy Connolly,"Stephenson, Pamela","1,231,957",HarperCollins,Biography: The Arts
39,"Child Called It,A","Pelzer, Dave","1,217,712",Orion,Autobiography: General
40,"Gruffalo's Child,The","Donaldson, Julia","1,208,711",Pan Macmillan,Picture Books
41,Angela's Ashes:A Memoir of a Childhood,"McCourt, Frank","1,204,058",HarperCollins,Autobiography: General
42,Birdsong,"Faulks, Sebastian","1,184,967",Random House,General & Literary Fiction
43,Northern Lights:His Dark Materials S.,"Pullman, Philip","1,181,503",Scholastic Ltd.,Young Adult Fiction
44,Labyrinth,"Mosse, Kate","1,181,093",Orion,General & Literary Fiction
45,Harry Potter and the Half-blood Prince,"Rowling, J.K.","1,153,181",Bloomsbury,Science Fiction & Fantasy
46,"Help,The","Stockett, Kathryn","1,132,336",Penguin,General & Literary Fiction
47,Man and Boy,"Parsons, Tony","1,130,802",HarperCollins,General & Literary Fiction
48,Memoirs of a Geisha,"Golden, Arthur","1,126,337",Random House,General & Literary Fiction
49,"No.1 Ladies' Detective Agency,The:No.1 Ladies'...","McCall Smith, Alexander","1,115,549","Little, Brown Book","Crime, Thriller & Adventure"

# Question 6 Scrape the details of top 100 songs on billiboard.com.

In [10]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [11]:
driver=webdriver.Chrome(r"C:\Users\Rubia Banu\Desktop\chromedriver.exe")
driver.get('https://www.billboard.com/')

In [12]:
Song_name=[]
Artist_name=[]
Lastweek_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [13]:
button = driver.find_element_by_xpath("//a[@class='header__main-link header__main-link--charts']").get_attribute('href')
driver.get(button)

In [14]:
button1 = driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']").get_attribute('href')
driver.get(button1)

In [15]:
start=0
end=1
for page in range(start,end):
    song=driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button/span[2]/span[1]")
    for i in song:
        Song_name.append(i.text)
    
    artist=driver.find_elements_by_xpath("//li[@class='chart-list__element display--flex']/button/span[2]/span[2]")
    for i in artist:
        Artist_name.append(i.text)
    
    week=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in week:
        Lastweek_rank.append(i.text)
    
    peak=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in peak:
        Peak_rank.append(i.text)
        
    weekboard=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in weekboard:
        Weeks_on_board.append(i.text)

In [16]:
details=pd.DataFrame({"Song_name":Song_name[0:100],
                      "Artist_name":Artist_name[0:100],
                      "Lastweek_rank":Lastweek_rank[0:100],
                      "Peak_rank":Peak_rank[0:100],
                      "Weeks_on_board":Weeks_on_board[0:100]})

In [17]:
details

,Song_name,Artist_name,Lastweek_rank,Peak_rank,Weeks_on_board
0,Save Your Tears,The Weeknd & Ariana Grande,1,1,21
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,9
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,7
3,Levitating,Dua Lipa Featuring DaBaby,5,4,31
4,Kiss Me More,Doja Cat Featuring SZA,6,5,4
...,...,...,...,...,...
95,If Pain Was A Person,Moneybagg Yo,54,54,2
96,Tampa,Cico P,-,97,1
97,Hello,Pop Smoke Featuring A Boogie Wit da Hoodie,-,84,7
98,Way Less Sad,AJR,99,99,2
99,Thankful,DJ Khaled Featuring Lil Wayne & Jeremih,-,100,1

# Question 2 Scrape the details team India’s international fixtures from bcci.tv

In [18]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException

In [19]:
driver=webdriver.Chrome(r"C:\Users\Rubia Banu\Desktop\chromedriver.exe")
driver.get('https://www.bcci.tv/')

In [20]:
path = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").get_attribute('href')
driver.get(path)

In [21]:
Match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [22]:
start=0
end=1
for page in range(start,end):
    match=driver.find_elements_by_xpath("//div[@class='fixture__teams']")
    for i in match:
        Match_title.append(i.text)
    
    series=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
    for i in series:
        Series.append(i.text)
    
    place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
    for i in place:
        Place.append(i.text)
    
    date=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
    for i in date:
        Date.append(i.text)
        
    time=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
    for i in time:
        Time.append(i.text)

In [23]:
Match_details=pd.DataFrame({"Match_title":Match_title[0:],
                      "Series":Series[0:],
                      "Place":Place[0:],
                      "Date":Date[0:],
                      "Time":Time[0:]})

In [24]:
Match_details

,Match_title,Series,Place,Date,Time
0,INDIA\nv\nNEW ZEALAND,ICC WORLD TEST CHAMPIONSHIP FINAL,"The Ageas Bowl, Southampton",18,15:30 IST
1,ENGLAND\nv\nINDIA,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,15:30 IST
2,ENGLAND\nv\nINDIA,ENGLAND V INDIA 2021,"Lord's, London",12,15:30 IST
3,ENGLAND\nv\nINDIA,ENGLAND V INDIA 2021,"Headingley, Leeds",25,15:30 IST
4,ENGLAND\nv\nINDIA,ENGLAND V INDIA 2021,"The Oval, London",02,15:30 IST
5,ENGLAND\nv\nINDIA,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,15:30 IST